#cnv1 {
	padding: 0;
	z-index: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 1); 
}

#cnv2 {
	padding: 0;
	z-index: 1;
	position: absolute;
	background-color: 'black'; 
}
#cnv3 {
	padding: 0;
	z-index: 2;
	position: absolute;
	background-color: 'black'; 
}

.main {
	padding: 0 25%;
}